<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAA1-8QkZZ9qdaV3k0kSWfUYoePvgYys30</string>
	<key>GCM_SENDER_ID</key>
	<string>840001834368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.personalFinance</string>
	<key>PROJECT_ID</key>
	<string>systematize-finance</string>
	<key>STORAGE_BUCKET</key>
	<string>systematize-finance.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840001834368:ios:be8555a35e8cf7bafd8565</string>
</dict>
</plist>